# Virtual environments
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Alembic
migrations/versions/*.py
!migrations/versions/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
